html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

.dataResult {
  border-radius: 5px;

  width: 300px;
  max-height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}
.list-chapter {
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 60px;

  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  color: black;
  margin-top: 10px;
}
.dataResult .dataItem:first-child {
  margin-top: 0;
}

.dataItem p {
  margin-left: 10px;
  font-size: 12px;
}
.dataResult .dataItem :hover {
  color: red;
  background-color: lightgray;
  cursor: pointer;
}

a {
  text-decoration: none;
}
