.genreContainer {
  width: 40rem;
  border-radius: 0.75rem;
}
.item {
  padding: 0.25rem;
}
.item:hover {
  cursor: pointer;
  color: #2ecc71 !important;
}

@media screen and (max-width: 560px) {
  .genreContainer {
    width: 100%;
  }
}
